@page "/codecamps"

@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using JellyStaticBlazor.Common.Models



@inject HttpClient Http
@inject ICampService CampService

@if (codecamps == null)
{
    <p>No Todo Items found.</p>
}
else
{
    <ul>
        @foreach (var item in codecamps)
        {
            <li>@item.Name</li>
        }
    </ul>
}

@code {

    public List<Camp> codecamps = new List<Camp>();

    protected override async Task OnInitializedAsync()
    {
        codecamps = await CampService.GetCamps();
    }
}